@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------- Form  ------------------------- */

.formContainer {
    display: flex;
    justify-content: center;
  }
  
  form {
    padding: 2rem;
    width: 60%;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  form label,
  legend,
  .printResults p {
    font-size: 1.2rem;
    color: white;
  }
  
  form textarea {
    width: 94%;
    padding: 1.5rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
  }
  
  form input {
    color: black;
    width: 100%;
    font-size: 1.2rem;
    transition: 0.3s;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    border-radius: 0.2rem;
  }
  
  form input:hover,
  form textarea:hover {
    border: solid greenyellow;
  }
  
  .button {
    font-size: 1.5rem;
    border: 0.1rem solid greenyellow;
    background-color: #eeeeee;
    color: black;
    width: 100%;
    transition: 0.5s;
    border-radius: 0.2rem;
    height: 2em;
  }
  
  .button:hover {
    background-color: greenyellow;
    box-shadow: 0 0 5px aquamarine;
  }
  
  .printResults h2 {
    text-align: center;
    color: aquamarine;
    font-size: 2.5em;
    text-shadow: 0 0 3px greenyellow;
  }
  
  .printResults h3 {
    text-align: center;
    color: aquamarine;
    font-size: 1.5em;
    text-shadow: 0 0 3px greenyellow;
  }
  
  .printResults p {
    text-align: center;
    margin-bottom: 1em;
  }
  
  /* ------------------------- End Form  ------------------------- */